body{
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
}
#pagina{
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;      
}
main{
    background: transparent;
    background-image: url(images/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    
}
#head{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#logo{
    margin-left: 3%;
    
}
#logo h2{
    color: white;
}
#links{
    flex-wrap: wrap;
    margin: 3%;
    width: 30%;
}
#links a{
    color: white;
    margin-left: 2%;

}
#text{
    display: flex;   
    flex-direction: column;
    align-self: flex end ;
    margin-left: 3%;
    margin-top: 5%;
}
#text span{ 
    color: white;
    font-weight: bolder;
    

}

#nosotros{
    display: flex; 
    flex-direction: column;
    justify-items: center;

}
#iconos{
    display: flex;
    flex-direction: row;
    width: 100%;
   
    flex-wrap: wrap;    
}
.cajaIcono{
    justify-content: center;
    width: 100%;
    display: flex;    
}

#nh{
  display: block;
  text-align: center;
 
}
#ic{
    width: 25%;
    margin-right: 2%;
    text-align: center;
    flex-wrap: wrap;
}

#titulo{
    font-size: large ;
    font-weight: bolder;
}
#cat h3{
    text-align: center;
}
#cat{
    display: flex; 
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
    
}
#catIc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#ads{  
   
    margin-bottom: 2%;
    padding-bottom: 3%;
    margin-left: 2%;
    width: 80; 
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:rgb(218, 212, 212);
    border: 1px solid #8b8888;
    box-shadow:0px 0px 5px 1px rgb(201, 195, 195);
}
#ads img{
    width: 100%;
}
#servicios{
    text-align: center;
}
#servicios img{
    width: 5%;
}
#precio{
    color: green;
    font-weight: bolder;
}
#ver{
    padding: 5% 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #ec992c;
    color: white;
    font-weight: bolder;
    border: none;
}
#VER{
    margin-top: 2%;
    margin-left: 85%;
    margin-bottom: 2%;
}
#verTodas{
    padding: 5% 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: green;
    color: white;
    font-weight: bolder;
    border: none;  
}
footer{
    background-image: url("images/encuentra.jpg");
    height: 30vh;
    color: white;
    font-size: xx-large;
}


@media (max-width: 425px) {
    #nosotros{
        display: flex; 
        flex-direction: column;
        justify-items: center;
        flex-wrap: wrap;
    
    }
    .cajaIcono{
        justify-content: center;
        width: 100%;
        display: flex;    
        flex-direction: column;
    }
    #iconos{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;    
    }
    #ic{
        width: 60%;
       
        margin-left: 20%;
        text-align: center;
        flex-wrap: wrap;
    }
    #catIc{
        display: flex;
    }
    #ic img{
        width: 25%;
    }
    #VER{
        margin-left: 2%;
    }

}
