#head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#links{
    flex-wrap: wrap;   
    width: 30%;
}
#links a{
   color:black;
    margin-left: 2%;

}