*{
    margin: 0;
    padding: 0;
}

body{
    background: #E9ECF4;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px; /* margenes internos*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
                        "contenido contenido sidebar"
                         "widget1 widget2 sidebar"
                         "footer footer footer"
}
.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: #fff; 
    padding: 20px;
    border-radius: 4px;
}
.contenedor .header{
    background-color: #12203E;
    color: #fff;
    grid-area: header;
}

.contenedor .contenido{
    grid-area: contenido;
}

.contenedor .sidebar{
    grid-area: sidebar;   
    background: #fAA43D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100;
}
.contenedor .widget1,
.contenedor .widget2{
    
    background: #55a8fd ;
    color: #fff;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contenedor .widget1{
    grid-area: widget1;
}
.contenedor .widget2{
    grid-area: widget2;
}

.contenedor .footer{
    grid-area: footer;   
    background-color: #12203E;
    color: #fff;

}
@media (max-width: 768px) {
  
    .contenedor{
        grid-template-areas: "header header header"
        "contenido contenido contenido"
         "sidebar sidebar sidebar"
         "widget1 widget1 widget2"
         "footer footer footer";
    }
    
}